mixin nav()
    - var navData = getData('nav.json');
    +b.nav&attributes(attributes)
        +e.UL.list
            each item in navData
                +e.item
                    +e.link(href=item.href)= item.name
